# Python
*.py[cod]
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Environments
.env
.env.*

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Docker
*.pid
*.seed
*.tar
*.bak
